<head>
  <title>optik</title>
</head>

<body>
  {{> navigate}}	
  {{> pageRenderer}}
</body>

<template name="pageRenderer">
  <div class="container">
  	<div class="row" id="MAINROW">
  		<div class="span8 offset2">
  			{{#if homePage}}
				{{> busquedas}}
    			{{> rowsClientes}}
    		{{/if}}
    		{{#if datosPage}}
    			{{> fileUpload}}
			{{/if}}    			
    	</div>
  	</div>
  </div>
</template>

<template name="fileUpload">
  <div class="alert alert-info">
    <p>Lectura del archivo de datos</p>
    <p>
    	<table>
    	<tr><td>#1: Generar una copia de seguridad.</td></tr>
    	<tr><td>#2: Importar el archivo en formato TSV.</td></tr>
    	<tr><td>#3: Revisar la situacion de los campos.</td></tr>
    	<tr><td>#4: Insertar los nuevos datos.</tr>
    	</table>
    </p>
    <p>
      <input type="filepicker" id='uploadWidget'/>	
    </p>
  </div>
</template>

<template name="rowsClientes">
  <div id="tabla">
	{{#if clientes}}
	  <table>
		{{#each clientes}}
			{{> lineaCliente}}
		{{/each}}
	  </table>
	{{else}}
	  <div class="alert alert-info">
	    Usa las casillas superiores para buscar clientes
	  </div>
	{{/if}}
  </div>
</template>	

<template name="busquedas">
  <form class="form-inline">
	<input type="text" class="input-medium qCampo" placeholder="nombre" id="qNombre">
	<input type="text" class="input-small qCampo" placeholder="ciudad" id="qCiudad">
	<input type="text" class="input-mini qCampo" placeholder="C.P." id="qCP">
	<label class="checkbox">
		<input type="checkbox" class="qCheck" id="qCitas"> Citas
	</label>
	<label class="checkbox">
		<input type="checkbox" class="qCheck" id="qAlertas"> Alertas
	</label>

	<button class="btn" type="button" id="btnCSV">CSV</button>
	<button class="btn" type="button" id="btnCLEAR">Clear</button>
	<button class="btn" type="button" id="btnREAD">Read</button>

  </form>
</template>
<template name="lineaCliente">
	<tr>
		<td>{{beauty_nombre}}</td>
		<td>{{beauty_ciudad}}</td>
		<td>{{countcitas}}|{{countalertas}}</td>
	</tr>
</template>

<template name="navigate">
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="#">Optik</a>
	    <ul class="nav">
	      <li class="active qNav" id="qHome"><a href="#">Home</a></li>
	      <li class = "qNav" id="qDatos"><a href="#">Datos</a></li>
	    </ul>
	  </div>
	</div>
</template>
