<template name="searchPane">
<div id="searchPane">
  <form>
	<legend>Busqueda</legend>
	<button class="btn" type="button" id="btnCSV">CSV</button>
	<button class="btn" type="button" id="btnCLEAR">Clear</button>
	<input type="text" class="input-medium qCampo" placeholder="nombre" id="qNombre">
	<div class="row">
		<div class="span1">
			<input type="text" class="input-small qCampo" placeholder="ciudad" id="qCiudad">
		</div>
		<div class="span1">
			<input type="text" class="input-mini qCampo" placeholder="c.p." size ="5"id="qCP">
		</div>
	</div>
	<input type="text" class="input-medium qCampo" placeholder="provincia" id="qProvincia">
	<input type="text" class="input-medium qCampo" placeholder="teléfono" id="qTelefono">
	<!--
	<button class="btn btn-block btn-primary" type="button" id="btnToList">
  		Buscar 
  	</button>  	-->
  </form>
</div>
</template>